
  
  <body>
    <div class="x-nav">
      <span class="layui-breadcrumb">
        <a href="">首頁</a>
        <a>
          <cite>學生查找</cite></a>
      </span>
      <a class="layui-btn layui-btn-small" style="line-height:1.6em;margin-top:3px;float:right" href="javascript:location.replace(location.href);" title="刷新">
        <i class="layui-icon" style="line-height:30px">ဂ</i></a>
    </div>
    <div class="x-body">
      <div class="layui-row">
        <form class="layui-form layui-col-md12 x-so">
          <input class="layui-input" placeholder="開始日期" name="start" id="start" value="{$where.start ?? ''}">
          <input class="layui-input" placeholder="截止日期" name="end" id="end" value="{$where.end ?? ''}">
          <input type="text"  value="{$where.snid ?? ''}" name="snid" id="snid"  placeholder="學號" autocomplete="off" class="layui-input">

          <input type="text" value="{$where.name ?? ''}" name="name"  placeholder="輸入名字" autocomplete="off" class="layui-input">

          <button class="layui-btn"  lay-submit="" lay-filter="sreach"><i class="layui-icon">&#xe615;</i></button>
        </form>
      </div>
      <xblock>
       <!--  <button class="layui-btn layui-btn-danger" onclick="delAll()"><i class="layui-icon"></i>批量删除</button> -->
<!--         <button class="layui-btn" onclick="x_admin_show('添加用户','./member-add.html',600,400)"><i class="layui-icon"></i>添加</button> -->
        <span class="x-right" style="line-height:40px">共有：{$res} 条</span>
      </xblock>
      <table class="layui-table" lay-filter="demo">
        <thead>
          <tr>
            <th>
              <div class="layui-unselect header layui-form-checkbox" lay-skin="primary"><i class="layui-icon">&#xe605;</i></div>
            </th>
            <th>學號</th>
            <th>姓名</th>
            <th>性別</th>
            <th>身份證號</th>
            <th>入學時間</th>
            <th>班級</th>
            <th>手機號</th>
            <th>状态</th>
            <th>操作</th></tr>
        </thead>
        <tbody>
            <?php foreach ($student as $v) { ?>
            <tr>
            <td>
              <div class="layui-unselect layui-form-checkbox" lay-skin="primary" data-id='{$v.snid}'><i class="layui-icon">&#xe605;</i></div>
            </td>
              <td>{$v.snid}</td>
              <td>{$v.name}</td>
              <td>{$v.sex}</td>
              <td>{$v.nameid}</td>
              <!-- <td>{:date("Y-m-d",$v['ctime'])}</td> -->
              <td>{$v.timein}</td>
              <td>{$v.class}</td>
              <td>{$v.phone}</td>
              <?php if ($v['is_stop']==0) { ?>
                <td class="td-status">
                  <span class="layui-btn layui-btn-normal layui-btn-mini">已注册</span>
                </td>
              <?php }else { ?> 
                <td class="td-status">
                  <span class="layui-btn layui-btn-normal layui-btn-mini layui-btn-disabled">已停用</span>
              </td>

              <?php } ?>

            <td class="td-manage">
            <?php if ($v['is_stop']==0) { ?>
              <a  href="javascript:;"  title="启用">
                <i class="layui-icon stop" snid="{$v.snid}">&#xe601;</i>
              </a>  

            <?php }else { ?>
              <a href="javascript:;"  title="停用">
                <i class="layui-icon stop" snid="{$v.snid}"></i>
              </a>

            <?php } ?>   

              
                <a title="编辑"  onclick="x_admin_show('编辑','{:url("index/user/revise",['sid'=>$v['sid']])}',600,400)" href="javascript:;">
                  <i class="layui-icon revise" uid="{$v.sid}">&#xe642;</i>
                </a>
              </td>
              </tr>
            <?php } ?> 
 
          
        </tbody>
      </table>
      <div class="page">
        <div>
            {$student->render()}
        </div>
      </div>
    </div>
    <script>
      layui.use('laydate', function(){
        var laydate = layui.laydate;
        var table = layui.table;

        //执行一个laydate实例
        laydate.render({
          elem: '#start' //指定元素
        });

        //执行一个laydate实例
        laydate.render({
          elem: '#end' //指定元素
        });
      });

        $('.stop').click(function(event) {

          snid=$(this).attr('snid');
          that=$(this);
          $.ajax({
             url: '{:url('/index/user/stop')}',
             type: 'POST',
             dataType: 'json',
             data: {snid:snid}
           })
           .done(function(res) {
               if(res.error==1){
                 layer.msg(res.info, function(){
                  layer.msg(res.info,{icon: 5,time:1000});
                 });
             }else{
              if(res.info=='停用成功'){

                //发异步把用户状态进行更改
                that.attr('title','停用')
                that.find('i').html('&#xe62f;');

                that.parents("tr").find(".td-status").find('span').addClass('layui-btn-disabled').html('已停用');
                layer.msg('已停用!',{icon: 5,time:1000});

              }else{
                that.attr('title','启用')
                that.find('i').html('&#xe62f;');

                that.parents("tr").find(".td-status").find('span').removeClass('layui-btn-disabled').html('已注册');
                layer.msg('已注册!',{icon:6,time:1000});
              }
             }
           })
           .fail(function() {
             console.log("error");
           })
          });  
       /*用户-停用*/

    </script>
    <script>var _hmt = _hmt || []; (function() {
        var hm = document.createElement("script");
        hm.src = "https://hm.baidu.com/hm.js?b393d153aeb26b46e9431fabaf0f6190";
        var s = document.getElementsByTagName("script")[0];
        s.parentNode.insertBefore(hm, s);
      })();</script>
  </body>

</html>