
  <body>
    <div class="x-body">
        <form class="layui-form">
          <div class="layui-form-item">
              <label for="sid" class="layui-form-label">
                  <span class="x-red">*</span>系統編號
              </label>
              <div class="layui-input-inline">
                  <input readonly="readonly" type="text" id="sid" name="sid" required="" lay-verify="required"
                  autocomplete="off" value="{$res.sid}" class="layui-input">
              </div>

          </div>
          <div class="layui-form-item">
              <label for="snid" class="layui-form-label">
                  <span class="x-red">*</span>學號
              </label>
              <div class="layui-input-inline">
                  <input type="text" id="snid" name="snid" required="" lay-verify="required"
                  autocomplete="off" value="{$res.snid}" class="layui-input">
              </div>

          </div>
          <div class="layui-form-item">
              <label for="name" class="layui-form-label">
                  <span class="x-red">*</span>學生姓名
              </label>
              <div class="layui-input-inline">
                  <input type="text" id="name" name="name" required="" lay-verify="required"
                  autocomplete="off" value="{$res.name}" class="layui-input">
              </div>

          </div>
          <div class="layui-form-item">
              <label class="layui-form-label">单选框</label>
                <div class="layui-input-block">
                  <input type="radio" name="sex" value="男" title="男" checked="">
                  <input type="radio" name="sex" value="女" title="女">
                </div>
          </div>
          <div class="layui-form-item">
              <label for="phone" class="layui-form-label">
                  <span class="x-red">*</span>手機號碼
              </label>
              <div class="layui-input-inline">
                  <input type="text" value="{$res.phone}" id="phone" name="phone" required="" lay-verify="phone"
                  autocomplete="off" class="layui-input">
              </div>

          </div>
          <div class="layui-form-item">
              <label for="nameid" class="layui-form-label">
                  <span class="x-red">*</span>身份證號
              </label>
              <div class="layui-input-inline">
                  <input type="text" value="{$res.nameid}" id="nameid" name="nameid" required="" lay-verify="nameid"
                  autocomplete="off" class="layui-input">
              </div>

          </div>
          <div class="layui-form-item">
              <label for="class" class="layui-form-label">
                  <span class="x-red">*</span>班級
              </label>
              <div class="layui-input-inline">
                  <input type="text" id="class" name="class" required="" lay-verify="required"
                  autocomplete="off" value="{$res.class}" class="layui-input">
              </div>
          </div>
          <div class="layui-form-item">
              <label for="timein" class="layui-form-label">
                  <span class="x-red">*</span>入學時間
              </label>
              <div class="layui-input-inline">
                  <input type="text" value="{$res.timein}" id="timein" name="timein" required="" lay-verify="timein"
                  autocomplete="off" class="layui-input">
              </div>
          </div>
          <div class="layui-form-item">
              <label for="L_repass" class="layui-form-label">
              </label>
              <button  class="layui-btn" lay-filter="add" lay-submit="">
                  修改
              </button>
          </div>
      </form>
    </div>
    <script>
        layui.use(['laydate','form','layer'], function(){
            $ = layui.jquery;
          var form = layui.form
          ,layer = layui.layer;
          var laydate = layui.laydate;
        
        
          //自定义验证规则
          // form.verify({
          //   nikename: function(value){
          //     if(value.length < 5){
          //       return '昵称至少得5个字符啊';
          //     }
          //   }
          //   ,pass: [/(.+){6,12}$/, '密码必须6到12位']
          //   ,repass: function(value){
          //       if($('#L_pass').val()!=$('#L_repass').val()){
          //           return '两次密码不一致';
          //       }
          //   }
          // });
          //监听提交
          form.on('submit(add)', function(data){
            $.ajax({
              url: '{:url('index/user/alter')}',
              type: 'POST',
              dataType: 'json',
              data: data.field,
            })
            .done(function(res) {
              if(res.error==1){
                layer.msg(res.info, function(){
                });
              }else{
                layer.alert(res.info, {icon: 6},function  () {

                // 获得frame索引
                var index = parent.layer.getFrameIndex(window.name);
                //关闭当前frame
                parent.layer.close(index);

                parent.location.reload();
                });
              }
              console.log("success");
            })            
            .fail(function() {
              console.log("error");
            })
            return false;
          });
          
          
          
        });
    </script>
    <script>var _hmt = _hmt || []; (function() {
        var hm = document.createElement("script");
        hm.src = "https://hm.baidu.com/hm.js?b393d153aeb26b46e9431fabaf0f6190";
        var s = document.getElementsByTagName("script")[0];
        s.parentNode.insertBefore(hm, s);
      })();</script>
  </body>

</html>