  
  <body>
    <div class="x-nav">
      <span class="layui-breadcrumb">
        <a href="">首页</a>
        <a href="">演示</a>
        <a>
          <cite>导航元素</cite></a>
      </span>
      <a class="layui-btn layui-btn-small" style="line-height:1.6em;margin-top:3px;float:right" href="javascript:location.replace(location.href);" title="刷新">
        <i class="layui-icon" style="line-height:30px">ဂ</i></a>
    </div>
    <div class="x-body">
      <div class="layui-row">
        <form class="layui-form layui-col-md12 x-so">
          <input class="layui-input" placeholder="开始日" name="start" id="start" value="{$where.start ?? ''}">
          <input class="layui-input" placeholder="截止日" name="end" id="end" value="{$where.end ?? ''}">
          <input type="text" name="username"  value="{$where.username ?? ''}" placeholder="请输入用户名" autocomplete="off" class="layui-input">
          <button class="layui-btn"  lay-submit="" lay-filter="sreach"><i class="layui-icon">&#xe615;</i></button>
        </form>
      </div>
      <xblock>
        <button class="layui-btn layui-btn-danger" onclick="delAll()"><i class="layui-icon"></i>批量删除</button>
        <button class="layui-btn" onclick="x_admin_show('添加用户','{:url('admin/admin/add')}')"><i class="layui-icon"></i>添加</button>
        <span class="x-right" style="line-height:40px">共有：{$res} 条</span>
      </xblock>
      <table class="layui-table">
        <thead>
          <tr>
            <th>
              <div class="layui-unselect header layui-form-checkbox" lay-skin="primary"><i class="layui-icon">&#xe605;</i></div>
            </th>
            <th>ID</th>
            <th>登录名</th>
            <th>手机</th>
            <th>角色</th>
            <th>IP</th>
            <th>注册时间</th>
            <th>最后登录时间</th>
            <th>状态</th>
            <th>操作</th>
        </thead>
        <tbody>
        <?php foreach ($admin as $r) { ?>
          <tr>
            <td>
              <div class="layui-unselect layui-form-checkbox" lay-skin="primary" data-id='{$r.aid}'><i class="layui-icon">&#xe605;</i></div>
            </td>
            <td>{$r.aid}</td>
            <td>{$r.username}</td>
            <td>{$r.phone}</td>
            <td>{$r.name}</td>
            <td>{$r.lip}</td>
            <td>{:date("Y-m-d H:i:s",$r['ctime'])}</td>
            <td>{$r.ltime}</td>
            <?php if ($r['is_stop']==0) { ?>
              <td class="td-status">
                <span class="layui-btn layui-btn-normal layui-btn-mini">已启用</span>
              </td>

            <?php }else { ?>
              <td class="td-status">
                <span class="layui-btn layui-btn-normal layui-btn-mini layui-btn-disabled">已停用</span>
              </td>

            <?php } ?>

            <td class="td-manage">
            <?php if ($r['is_stop']==0) { ?>
              <a  href="javascript:;"  title="启用">
                <i class="layui-icon stop" aid="{$r.aid}">&#xe601;</i>
              </a>  

            <?php }else { ?>
              <a href="javascript:;"  title="停用">
                <i class="layui-icon stop" aid="{$r.aid}"></i>
              </a>

            <?php } ?>            

              <a title="编辑"  onclick="x_admin_show('编辑','admin-edit.html')" href="javascript:;">
                <i class="layui-icon">&#xe642;</i>
              </a>
              <a title="删除"  href="javascript:;">
                <i class="layui-icon del" aid='{$r.aid}'>&#xe640;</i>
              </a>
            </td>
          </tr>
        <?php } ?>

        </tbody>
      </table>
      <div class="page">
        <div>
            {$admin->render()}
        </div>
      </div>

    </div>
    <script>
      layui.use('laydate', function(){
        var laydate = layui.laydate;
        
        //执行一个laydate实例
        laydate.render({
          elem: '#start' //指定元素
        });

        //执行一个laydate实例
        laydate.render({
          elem: '#end' //指定元素
        });
      });

        $('.stop').click(function(event) {

          aid=$(this).attr('aid');
          that=$(this);
          $.ajax({
             url: '{:url('/admin/admin/stop')}',
             type: 'POST',
             dataType: 'json',
             data: {aid:aid}
           })
           .done(function(res) {
               if(res.error==1){
                 layer.msg(res.info, function(){
                  layer.msg(res.info,{icon: 5,time:1000});
                 });
             }else{
              if(res.info=='停用成功'){

                //发异步把用户状态进行更改
                that.attr('title','停用')
                that.find('i').html('&#xe62f;');

                that.parents("tr").find(".td-status").find('span').addClass('layui-btn-disabled').html('已停用');
                layer.msg('已停用!',{icon: 5,time:1000});

              }else{
                that.attr('title','启用')
                that.find('i').html('&#xe62f;');

                that.parents("tr").find(".td-status").find('span').removeClass('layui-btn-disabled').html('已启用');
                layer.msg('已启用!',{icon:6,time:1000});
              }
             }
           })
           .fail(function() {
             console.log("error");
           })
          });        

      //  /*用户-停用*/
      // function member_stop(obj,id){
      //     layer.confirm('确认要停用吗？',function(index){

      //         if($(obj).attr('title')=='启用'){

      //           //发异步把用户状态进行更改
      //           $(obj).attr('title','停用')
      //           $(obj).find('i').html('&#xe62f;');

      //           $(obj).parents("tr").find(".td-status").find('span').addClass('layui-btn-disabled').html('已停用');
      //           layer.msg('已停用!',{icon: 5,time:1000});

      //         }else{
      //           $(obj).attr('title','启用')
      //           $(obj).find('i').html('&#xe601;');

      //           $(obj).parents("tr").find(".td-status").find('span').removeClass('layui-btn-disabled').html('已启用');
      //           layer.msg('已启用!',{icon: 5,time:1000});
      //         }
              
      //     });
      // }
        $('.del').click(function(event) {
        aid=$(this).attr('aid');
        that=$(this);
       
        layer.confirm('确认要删除吗？',function(index){
        $.ajax({
          url: '{:url('/admin/admin/del')}',
          type: 'POST',
          dataType: 'json',
          data: {aid:aid}
        })
        .done(function(res) {
            if(res.error==1){
              layer.msg(res.info, function(){

              });
          }else{
            location.reload();
            that.parents("tr").remove();
              layer.msg(res.info,{icon:1,time:1000});
             
          }
        })
        .fail(function() {
          console.log("error");
        })
        }) 
        return false;
      });
      /*用户-删除*/
      // function member_del(obj,id){
      //     layer.confirm('确认要删除吗？',function(index){
      //         //发异步删除数据
      //         $(obj).parents("tr").remove();
      //         layer.msg('已删除!',{icon:1,time:1000});
      //     });
      // }



    function delAll (argument) {
        var data = tableCheck.getData();

        layer.confirm('确认要删除吗？'+data,function(index){
        $.ajax({
          url: '{:url('/admin/admin/delall')}',
          type: 'POST',
          dataType: 'json',
          data: {'aid':data}
        })
        
        .done(function(res) {
            if(res.error==1){
              layer.msg(res.info, function(){

              });
          }else{
            
            layer.msg('删除成功', {icon: 1});
            $(".layui-form-checked").not('.header').parents('tr').remove();
             location.href="{:url('admin/admin/index')}";
          }
        })
        .fail(function() {
          console.log("error");
        })
        }) 
        return false;
      }
    </script>
    <script>var _hmt = _hmt || []; (function() {
        var hm = document.createElement("script");
        hm.src = "https://hm.baidu.com/hm.js?b393d153aeb26b46e9431fabaf0f6190";
        var s = document.getElementsByTagName("script")[0];
        s.parentNode.insertBefore(hm, s);
      })();</script>
  </body>

</html>